@import './../../../variables.scss';

.current-weather {
    background-color: $color-secondary;
    color: $color-white;
    font-size: 2rem;
    box-sizing: border-box;

    &__main {
        @include flex(space-between, center, row);
        padding: 2rem;
    }

    &-container {
        @include flex(stretch, stretch, row);
        padding: 3rem 4rem;
        box-sizing: border-box;
    }

    &__info {
        width: 60%;
        @include flex(center, center, column);
        margin-right: 4rem;
        margin-top: -3rem;
    }

    &__details {
        width: 40%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        justify-items: center;
        align-items: center;
    }

    
    &__location, &__date {
        @include flex(center, center, row);
    }

    &__location__icon, 
    &__date__icon {
        width: 2rem;
        margin-right: 1rem; 
    }

    &__location__info, &__date__info {
        font-size: 1.8rem;
        letter-spacing: 1px;
        font-weight: 300;
    }


    &__icon {
        width: 8rem;
        display: block;
        margin-bottom: 1rem;
    }

    &__temp-max {
        font-size: 9rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    &__description {
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
    }

    &__wind, &__pressure, &__humidity, &__cloudiness {
        @include flex(center, center, column);
        width: 100%;
        height: 100%;
        background-color: rgba($color-white, 0.05);
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 1rem;
    }

    &__wind__icon, &__pressure__icon, &__humidity__icon, &__cloudiness__icon {
        width: 2rem;
        margin-bottom: 1rem;
    }

    &__wind__name, &__pressure__name, &__humidity__name, &__cloudiness__name {
        font-size: 1.3rem;
        letter-spacing: 1px;
        font-weight: 200;
        margin-bottom: 0.5rem;
    }

    &__wind__info, &__pressure__info, &__humidity__info, &__cloudiness__info {
        font-size: 1.5rem;
        font-weight: 400;

    }
}
