@import './../../variables.scss';

.weather-form {
    background-color: $color-tertiary;
    padding: 2rem 0;
    @include flex(center, center, row);
    box-sizing: border-box;
    box-shadow: 2rem -1rem 3rem rgba(0,0,0,0.3), -2rem 1rem 3rem rgba(0,0,0,0.3);
}

.weather-form__input {
    display: block;
    width: 30%;
    margin-right: 5rem;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: $color-white;
    font-family: $font-family;
    font-size: 1.8rem;
    letter-spacing: 1px;
    transition: $transition;

    &::-webkit-input-placeholder {
        color: $color-grey-light-2;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color: $color-white;
        box-shadow: 0 0 0px 1000px $color-tertiary inset;
        transition: background-color 5000s ease-in-out 0s;
    }

}

.weather-form__input:focus {
    border-bottom: 1px solid #EB79BE;
    outline: none;
}

.weather-form__button {
    box-sizing: border-box;
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    border: none;
    background-color: $color-primary;
    color: $color-grey-light-1;
    text-transform: uppercase;
    font-family: $font-family;
    font-size: 1.5rem;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    transition: $transition;

    &:hover {
        color: $color-white;
        box-shadow: 0 .5rem 1rem rgba($color-white, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .2rem .5rem rgba($color-white, .15);
        transform: translateY(0);
    }
}