@import './variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) *100);
  overflow: hidden;
  background: url(./../src/images/cloud.png), radial-gradient(circle at 0% 0%, $color-primary-dark, $color-primary, $color-primary-dark);
  background-position: left 0 top 0, left 0 top 0;
  background-size: cover;
  font-family: $font-family;
  @include flex(center, center, row);
  position: relative;
  animation: animatedClouds 180s linear infinite;
}


@keyframes animatedClouds {
  0% {
    background-position: left 0 top 0, left 0 top 0;
  }
  100% {
    background-position: left 544rem top 0, left 0 top 0;
  }
}

